<div id="account">
    <div id="icon-wrapper">
        <div id="icon-container">
            <img src="../../../assets/avatar.jpg" alt="Avatar">
        </div>
    </div>
    <div id="actions">
        <i id="addIcon" (click)="displayUserBox()" class="fa-solid fa-circle-plus"></i>
        <div id="addUser-cont" style="left:{{leftProp}}; opacity: {{opacity}}; pointer-events: {{pointerE}} ">

            <input type="text" #friend placeholder="Enter friend's name">
            <button id="addButton" (click)="addFriend(friend.value)" >Add</button>
        </div>
    </div>

</div>