#account{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #262626;
}

#icon-wrapper{
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-container{
    width: 60px;
    height: 60px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
}

#icon-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#actions{
    width: 100%;
    height: 97%;
    display: flex;
    position: relative;
    padding: 25px 0px;
    justify-content: center;
}

#addIcon{
    color: grey;
    cursor: pointer;
    font-size: 1.7rem;
}

#addUser-cont{
    left: 0px;
    opacity: 0;
    pointer-events: none;
    width: 260px;
    height: 20%;
    display: flex;
    z-index: 10;
    align-items: center;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    flex-direction: column;
    background-color: #262626;
    justify-content: space-around;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#addUser-cont input{
    height: 30%;
    color: white;
    border-radius: 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    background-color: #262626;
}

#addUser-cont button{
    padding: 5px 15px;
    width: fit-content;    
    border: none;
    cursor: pointer;
}