<div id="nullSec" *ngIf="service.friendName.length == 0" >
    <div style="width:100% ;height:20%;display: flex;justify-content: center;align-items: center;">
        <h1>Please select user to display chat</h1>
    </div>
    <div style="width:100% ;height:80%;">
        <img src="../../../assets/emptyChat.png" alt="Nothing to display">
    </div>
</div>

<div id="status-bar">
    <div id="profile">
        <img src="../../../assets/avatar.png" alt="Avatar">
    </div>
    <div id="status">
        <div id="name">
            <h2> {{service.friendName}} </h2>
        </div>
        <div id="currStatus">
            <h4>Offline</h4>
        </div>
    </div>
    <div id="extra-section"></div>
</div>
<div id="chat-mid-section">
    <div id="nullSec" *ngIf="service.chats.length == 0" >
        <img src="../../../assets/nullChats.png" alt="Nothing to display">
    </div>
    <div id="messages">
        <li class="msg-cont" *ngFor="let text of service.chats">
            <div class="msg" [ngClass]="{'floatLeft': text.split('/')[0] == 'FROM', 'floatRight': text.split('/')[0] == 'TO'}">
                {{ text.split('/')[1] }}
            </div>
        </li>
    </div>


</div>
<div id="chat-bottom-section">
    <input type="text" id="userInput" #message placeholder="Type here...">
    <button id="sendButton" (click)="service.sendMessage(message.value, message)" >
        <img src="../../../assets/sendBtn.png" alt="Send">
    </button>
</div>