#status-bar{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#chat-mid-section{
    width: 100%;
    height: 75%;
    padding: 10px;
    position: relative;
}

.msg{
    width: 100%;
    list-style: none;
    height: fit-content;
}

#chat-bottom-section{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    /* border-top: 2px solid rgb(199, 199, 199); */
}

#profile{
    width: 60px ;
    height: 60px;
    border-radius: 50%;
    
}

#profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#status{
    width: 80%;
    height: 100%;
    
}

#name{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    
}

#currStatus{
    width: 100%;
    height: 30%;
    padding: 0px 20px;
    
}

#extra-section{
    width: 12%;
    height: 100%;
}




#sendButton{
    width: 45px;
    cursor: pointer;
    height: 45px;
    border: none;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#sendButton img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


#nullSec{
    width: 100%;
    height: 100%;
}

#nullSec img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#messages{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    pointer-events: none;
}

.msg-cont{
    width: 100%;
    overflow: auto;
    list-style: none;
    height: fit-content;
    padding: 5px;
    margin: 10px 0px;
}

.msg{
    width: 45%;
    padding: 10px;
    /* float: right; */
    /* color: white; */
    border-radius: 10px;
    height: fit-content;
    /* background-color: #005db2; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.floatLeft{
    float: left;
    background-color:white;
    color:black
}

.floatRight{
    float: right;
    background-color:#005db2;
    color:white
}

.icon{
    cursor: pointer;
    color: grey;
    transition: 0.1s;
    font-size: 1.35rem;
}

.icon:hover{
    color: black;
}

#userInput{
    width: 93%;
    height: 100%;
    font-weight: 500;
    outline: none;
    margin: 0px;
    border: none;
}

#inp-wrapper{
    width: 90%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #cac3c3;
}

#image-inp-container{
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    transition: 0.3s;
    justify-content: center;
    background-color: white;
    align-content: space-around;
    border: 1px dashed grey;
    transform: scale(0) translate(-50%, -50%);
    /* background-color: var(--black); */
}

#img-container{
    width: 100%;
    height: 87%;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    border: 2px dashed white;
}

#img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#send-button{
    cursor: pointer;
    padding: 7px 20px;
    border-radius: 3px;
    color: white;
    background-color: var(--blue);
}

.imgplaceholder{
    font-size: 10rem;
    color: rgb(69, 69, 69);
}

.msg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chatPointerEvent{
    pointer-events: none;
}