<div id="nullSec" *ngIf="service.friendName.length == 0" >
    <div style="color:white;width:100% ;height:20%;display: flex;justify-content: center;align-items: center;">
        <h1>Please select user to display chat</h1>
    </div>
    <div style="width:100% ;height:80%;">
        <img src="../../../assets/emptyChat1.png" alt="Nothing to display">
    </div>
</div>

<div id="status-bar">
    <div id="profile">
        <img src="../../../assets/avatar.png" alt="Avatar">
    </div>
    <div id="status">
        <div id="name">
            <h2> {{helper.capitalize(service.friendName)}} </h2>
        </div>
        <div id="currStatus">
            <h4 *ngIf ="service.isOnline == true" >Online</h4>
            <h4 *ngIf ="service.isOnline == false" >Offline</h4>
        </div>
    </div>
    <div id="extra-section"></div>
</div>

<div id="chat-mid-section">
    <div id="nullSec" *ngIf="service.chats.length == 0">
        <img src="../../../assets/nullChats2.png" alt="Nothing to display">
    </div> 
    <div  id="messages" #chatSection [ngClass]="{'visibilityOfChatSection': service.chats.length == 0}" >
        <li class="msg-cont" *ngFor="let text of service.chats; let lastEle = last">
            {{lastEle ? updateFrame(chatSection) : null}}
            <div class="msg" [ngClass]="{'floatLeft': text.split('/')[0] == 'FROM', 'floatRight': text.split('/')[0] == 'TO'}">
                <img *ngIf="text.split('/')[1].split('>').length > 1" [src]="text.split('>')[1].split('?')[0]" alt="Image">
                <p *ngIf="text.split('/')[1].split('>').length <= 1" > {{text.split('/')[1]}} </p>
            </div>
        </li>
    </div>
    
    <div id="image-inp-container" #imgDisplay>
        <div id="img-container">
            <img *ngIf="imgURL.length == 0" id="placeholder" src="../../../assets/imageSkeleton.png" alt="Placeholder">
            <img *ngIf="imgURL.length != 0" id="userInpImage"  [src]="imgURL" alt="Image.jpg">
        </div>
        <div id="send-button">
            <h4 (click)="uploadImage(imgDisplay, message ,chatSection )">Send</h4>
        </div>
        <div id="cancel-button">
            <h4 (click)="closeImageInpContainer(imgDisplay)">Cancel</h4>
        </div>
        <div id="status-line" style="display:{{status}}"></div>
    </div>

</div>

<div id="chat-bottom-section">
    <div id="inp-wrapper">
        <input type="text" id="userInput" #message placeholder="Type here...">
        <i class="fa-solid fa-paper-plane icon" (click)="service.sendMessage(message.value, message, chatSection)"></i>
    </div>
    <input type="file" #imgInputEle style="opacity: 0; width: 0px;height: 0px; pointer-events: none;" >
    <div style="height: fit-content;    display: flex;    align-items: center; position: relative;">
        <div id="emoji-container" #emojiContainer>
            <div (click)="addEmojiToText(emoji, emojiContainer, message)" class="emoji" *ngFor="let emoji of emojis"> {{emoji}} </div>
        </div>
        <i class="fa-solid fa-image icon" (click)="sendImage(imgDisplay, imgInputEle)" ></i>
    </div>
    <i (click)="displayEmojiContainer(emojiContainer)" class="fa-solid fa-face-smile icon"></i>
</div>